<div class="gallery box">
<h2>Das is ne Gallery</h2>
{% for image in images %}
    <div class="gallery-item">
        <img src="{{image.src}}" alt="{{image.title}}">       
        <div><p><span>Bildname:<span>{{image.title}}</p></div>
    </div>
{% endfor %}
</div>
