<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NUNJUCK TEST</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <!-- build:js js/main.min.js -->
    <script src="js/app.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/costum.js"></script>
    <!-- endbuild -->
    <!-- build:css css/styles.min.css -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- endbuild -->
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>